    <footer class="footer footer__section">
        <div class="footer__container footer__section">
            <div class="footer__texts">
                <h2 class="footer__title">Nuestras Redes</h2>
                <div class="footer__icons">
                    <a href="#" class="footer__icon footer__icon--center  fa-brands fa-facebook"></a>
                    <a href="#" class="footer__icon footer__icon--center fa-brands fa-twitter"></a>
                    <a href="#" class="footer__icon footer__icon--center fa-brands fa-instagram"></a>
                </div>
                <nav class="footer__nav">
                    <a href="#" class="footer__link">Home</a>
                    <a href="#" class="footer__link">Forum</a>
                    <a href="#" class="footer__link">About Us</a>
                </nav>
                <p class="footer__copy">Derechos reservados &copy; Jorge Nicolas Kelly</p>
            </div>

            <!-- <figure class="footer__img">
                <img src="./src/icons/google-gmail.svg" alt="" class="footer__copy">
            </figure>
        </div>  no me gustó como queda en mobile, despues me fijo si se queda o lo borro 8/9-->
   
    </footer>
