   <nav class="nav__hero">
        <a href="#" class="nav__icon">Trash.ly UTN</a>
        <ul class="nav__links">
        <li class="nav__links"><a href="/" class="nav__links--style">Home</a></li>
        <li class="nav__links"><a href="/forum" class="nav__links--style">Forum</a></li>
        <li class="nav__links"><a href="/about" class="nav__links--style">About Us</a></li>
        </ul>
    </nav>
