{{navbar}}

<div class="section__about">
    <div class="svg__about">
        <img src="svg/svg2.svg" class="svg__about--size" alt="">
    </div>

    <div class="about__text">
        <h2 class="about__text--h2">
            Trashly.UTN es una web en desarollo enfocada simplemente en compartir nuestros albumes favoritos como parte de preservar la cultura de forma online. También para simplemente conocer nuevos artistas que otros han recomendado.
        </h2>
    </div>
</div>



{{footer}}