{{navbar}}
<div class="enviado__text">
<h1 class="enviado__mensaje">Su subscripcion ha sido enviada correctamente!
    
</h1>
    <h4 class="enviado__mensaje">proximamente le llegara un mail con la confirmación</h4>
</div>
{{footer}}