{{navbar}}
<div class="enviado__text">
<h1 class="enviado__mensaje">Su postulación a sido enviada correctamente!
    
</h1>
    <h4 class="enviado__mensaje">proximamente su album sera añadido a la pagina principal</h4>
</div>
{{footer}}