{{header}}

<div class="section__forum--svg2">
<div class="form__forum">
<div class="flex__div">
 <form action="#" class="form" method="post">
        <div class="form__titulo">
            <h2 class="form__container">Postula nuevos albumes</h2>
            <input type="text" class="form__input" name="nombreAlbum" id="nombreAlbum" placeholder="Nombre del álbum: ">
            <input type="text" class="form__input" name="artista" id="artista" placeholder="Artista/Autor: ">
            <br>
            <input type="submit" value="Enviar" class="form__cta">
        </div>
        <div class="validation__text">
            <br>
        <h2 class="validation__color">
            {{ validacion }}
        </h2>
    </div>
    </form>
    
</div>

</div>
<div class="section__forum--image">
    <div class="svg__forum">
        <img src="svg/svg3.svg" class="svg__forum--size" alt="">
    </div>
</div>
</div>

{{footer}}