    <section class="sections sections__hero">
        <h1 class="sections__hero--title">Últimos albumes</h1>
    </section>


    <main>
        <section class="cards__gallery">
            <article class="cards">
                <img src="img/dias.jpg" alt="#" class="cards__image">
                <div class="cards__container__text">
                    <h2 class="cards__container--title">Dias y flores</h2>
                    <div class="cards__line"></div>
                    <h3 class="cards__container--author">Silvio Rodriguez</h3>
                    <p class="cards__container--paragraph">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nihil neque eligendi commodi repudiandae explicabo saepe?</p>
                </div>
                
            </article>

            <article class="cards">
                <img src="img/alfinal.jpg" alt="#" class="cards__image">
                <div class="cards__container__text">
                    <h2 class="cards__container--title">Al final de este viaje</h2>
                    <div class="cards__line"></div>
                    <h3 class="cards__container--author">Silvio Rodriguez</h3>
                    <p class="cards__container--paragraph">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nihil neque eligendi commodi repudiandae explicabo saepe?</p>
                </div>
                
            </article>

            <article class="cards">
                <img src="img/jara.jpg" alt="#" class="cards__image">
                <div class="cards__container__text">
                    <h2 class="cards__container--title">Victor Jara</h2>
                    <div class="cards__line"></div>
                    <h3 class="cards__container--author">Victor Jara</h3>
                    <p class="cards__container--paragraph">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nihil neque eligendi commodi repudiandae explicabo saepe?</p>
                </div>
                
            </article>

            <article class="cards">
                <img src="img/vox-dei-la-biblia_QNIqU8z.jpg" alt="#" class="cards__image">
                <div class="cards__container__text">
                    <h2 class="cards__container--title">La Biblia</h2>
                    <div class="cards__line"></div>
                    <h3 class="cards__container--author">Vox Dei</h3>
                    <p class="cards__container--paragraph">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nihil neque eligendi commodi repudiandae explicabo saepe?</p>
                </div>
                
            </article>

            <article class="cards">
                <img src="img/gardel.jpg" alt="#" class="cards__image">
                <div class="cards__container__text">
                    <h2 class="cards__container--title"> Eternamente</h2>
                    <div class="cards__line"></div>
                    <h3 class="cards__container--author">Carlos Gardel</h3>
                    <p class="cards__container--paragraph">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nihil neque eligendi commodi repudiandae explicabo saepe?</p>
                </div>
                
            </article>

            <article class="cards">
                <img src="img/elliot.jpg" alt="#" class="cards__image">
                <div class="cards__container__text">
                    <h2 class="cards__container--title">X/O</h2>
                    <div class="cards__line"></div>
                    <h3 class="cards__container--author">Elliot Smith</h3>
                    <p class="cards__container--paragraph">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nihil neque eligendi commodi repudiandae explicabo saepe?</p>
                </div>
                
            </article>

            <article class="cards">
                <img src="img/harvest.jpg" alt="#" class="cards__image">
                <div class="cards__container__text">
                    <h2 class="cards__container--title">Harvest</h2>
                    <div class="cards__line"></div>
                    <h3 class="cards__container--author">Neil Young</h3>
                    <p class="cards__container--paragraph">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nihil neque eligendi commodi repudiandae explicabo saepe?</p>
                </div>
                
            </article>

            <article class="cards">
                <img src="img/harrison.jpg" alt="#" class="cards__image">
                <div class="cards__container__text">
                    <h2 class="cards__container--title">All things must pass</h2>
                    <div class="cards__line"></div>
                    <h3 class="cards__container--author">George harrison</h3>
                    
                    <p class="cards__container--paragraph">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nihil neque eligendi commodi repudiandae explicabo saepe?</p>
                </div>
                
            </article>



        </section>
    </main>

    <section class="form__section--mail">
        <form class="form--mail"  action="/" method="post">
            <h2 class="form__title">Subscríbete</h2>
            <input type="text" class="form__name--mail input--mail" name="nombre" id="nombre" placeholder="Nombre:">
            <input type="email" class="form__email--mail input--mail" name="email" id="email" placeholder="Email:">
    
            <input type="submit" class="form__submit">

              <div class="validation__text">
        <h2 class="validation__color">
            {{ validacion }}
        </h2>
    </div>
        </form>
    
    </section>