
.section__forum--svg2{
    display: flex;
    flex-direction: row;
}

.section__forum--image{
    display: flex;
    padding: .1px;
    margin: .1px;
}

.svg__forum--size{
    position: relative;
    top: 3em;
    left: 40em;
    overflow: hidden;
    object-fit: cover;
    filter: drop-shadow(3px 1px 1px);
}

.form{
    position: relative;
    top: 20%;
    background-color: rgb(220, 220, 220);
    width: 90%;
    margin: auto 0;
    max-width: 400px;
    border-radius: 1em;
    padding: 3.5em 1.5em;
}
.form__titulo{
    padding-bottom: 10px;
}
.form__input{
    font-family: inherit;
    margin: 5px;
    padding: 5px;
    border-radius: 5px;
}

.form__cta{

        font-family: inherit;
        margin-top: 5px;
        padding: 10px;
        /* border-radius: 10px; */
}

.flex__div{
    position: relative;
    top: 5em;
    left: 8em;
    margin: .1;
    padding: .1;
}